extends /_layouts/lo-normal/fullwidth
append config
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' dark') 
	- var bcType = "intitle"
	- var currentMenu = "Research"
	- var PageTitleHead = "research"
	- var pageTitle = "Producing Innovative Solutions"
	- var pageTitleClass = 'h-600 parallax-layer center-it dark ov-blue-alpha-50'
	- var pageTitleImage = dirPrefix+"assets/img/bg/011.jpg"
	- var pageTitleParallaxMode = "bg"
block main-area
	section.section: .container: .row 
		.col-md-8
			h3 Research Background
			p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis acsollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque.la. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque.
			p nibh diam, mattis pharetra aliquet sed, vsollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis acenenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque.
		.col-md-4
			// #####Begin widget
			.widget
				h4 Research Priorities
				ol.with-shaded-label
					li To identify the patterns of care need of people approaching the end
					li To map their current pathways of care provision and place of death. 
					li To confirm these patterns of need and care pathways with carers, GPs and DNs.
					li To investigate the health costs of the identified care pathways.
					li To develop a toolkit for Primary Care Teams to review care and better align patient needs to care provision. 
			// #####End widget
	section.section.dark-wrapper.parallax-layer.ov-grad1-alpha-80(data-img-src=dirPrefix+"assets/img/bg/012.jpg", data-parallax-mode="mode-2")
		.container
			.row
				.col-md-4
					// #####Begin heading
					.heading-with-sub.m-bottom-40
						h2.title Research Areas
						h4.subtitle Reasons about why we are one of a kind!
					// #####End heading
					p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					
					a.btn.btn-small.btn-circle.btn-skin-red(href='#') read more
				.col-md-4
					// #####Begin iconbox v4
					.icon-box.ib-v4.icon-theme-color
						i.oli.oli-camera
						h3.title reasonable offer
						p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v4
					.sp-blank-50
					// #####Begin iconbox v4
					.icon-box.ib-v4.icon-theme-color
						i.oli.oli-quill_with_ink
						h3.title Drives you crazy
						p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v4
				.col-md-4
					// #####Begin iconbox v4
					.icon-box.ib-v4.icon-theme-color
						i.oli.oli-printed_OCR
						h3.title loaded with love
						p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v4
					.sp-blank-50
					// #####Begin iconbox v4
					.icon-box.ib-v4.icon-theme-color
						i.oli.oli-chromatography
						h3.title Approved by Jafar!
						p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v4
	section.section: .container
		
		h3 Current Funded Projects
		p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis acsollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta.
		.sp-blank-40
		.row
			.col-md-3
				mixin hov5_icon_follow(dirPrefix+"assets/img/research/01.jpg","research-p1.html")
			.col-md-9
				h5.m-bottom-30 
					a(href="research-p1.html") Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin
				.dl-horizontal.text-left.tight.m-bottom-30
					dt Funding bodies:
					dd The Royal Academy of Engineering
					dt Role: 
					dd Principle investigator
					dt Value:
					dd &#36;480,000
					dt Years:
					dd 2002-2012
				p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis acsollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque.
		.sp-line-80
		.row
			.col-md-3
				mixin hov5_icon_follow(dirPrefix+"assets/img/research/02.jpg","research-p1.html")
			.col-md-9
				h5.m-bottom-30 
					a(href="research-p1.html") Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin
				.dl-horizontal.text-left.tight.m-bottom-30
					dt Funding bodies:
					dd The Royal Academy of Engineering
					dt Role: 
					dd Principle investigator
					dt Value:
					dd &#36;480,000
					dt Years:
					dd 2002-2012
				p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis acsollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque.
		.sp-line-80
		.row
			.col-md-3
				mixin hov5_icon_follow(dirPrefix+"assets/img/research/03.jpg","research-p1.html")
			.col-md-9
				h5.m-bottom-30 
					a(href="research-p1.html") Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin
				.dl-horizontal.text-left.tight.m-bottom-30
					dt Funding bodies:
					dd The Royal Academy of Engineering
					dt Role: 
					dd Principle investigator
					dt Value:
					dd &#36;480,000
					dt Years:
					dd 2002-2012
				p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis acsollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque.
		.sp-line-80
	section.p-top-40.p-bottom-40.parallax-layer.ov-light-alpha-90(data-img-src="assets/img/bg/001.jpg")
		.container
			// #####Begin call to action
			.row.call-out.tb-vcenter-wrapper
				.col-sm-5.vcenter
					// #####Begin  book element
					a.book-el.mini.shadow.set-bg.skin-theme.pull-right(href="#")
						img.set-me(src=dirPrefix+"assets/img/publications/grid/01.jpg")
						.contents
							.item-meta
								span Download
							.title-wrapper
								h2.title Lab Catalog
					// #####End  book element
				.col-sm-7.vcenter
					h2.title Download Laboratory Catalog
					h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					a.btn.btn-small Read More
			// #####End call to action
