footer#footer
	div#footer-main.text-center.bg-gray
		.container
			.row
				.col-md-6.col-md-offset-3
					ul.social-icons.shape-circle.hover-theme.m-top-20
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-google-plus
						li
							a(href="#")
								i.fa.fa-linkedin
						li
							a(href="#")
								i.fa.fa-skype
						li
							a(href="#")
								i.fa.fa-dribbble

					.sp-blank-20
					.copyright All rights reserved @ owwwlab 2015