.head-main: .container
	.logo-wrapper
		.ol-user-profile
			a.avatar(href="#")
				img(src=dirPrefix+"assets/img/avatar.jpg")
			h1.title Dr. Riley Anderson
			h2.subtitle Professor @ University of California

	include header/menu-primary

	.header-icons
		include header/humburger

.header-bg.set-bg.ov-dark-alpha-70(data-img-src=dirPrefix+"assets/img/bg/01.jpg")