//-  variables configurations
//-  Thease values are just defaults

//- environment
- var ENV = gruntDev //- dev 
- var loadgooglefonts = true

- var templateName = "CHAOS HTML Template"

- var ptType = "" //- false | 
- var pageTile = "Default Page Title"
- var PageTitleHead = ""
- var PageTitleDesc= ""
- var pageTitleClass = ""
- var headerParallaxType = "" //- bg | nothing
- var bcType = "intitle" //- breadcrumbs type : intitle | block | nothing
- var pageTitleImage = ''
- var pageTitleImageParallax = ''
- var pageTitleParallaxMode = ''
- var pageTitleParallaxFactor = ''
- var pageTitleVid = ''
- var headerType = ""
- var atts1 = ''
- var atts2 = ''
- var atts3 = ''
- var atts4 = ''
- var atts5 = ''
- var atts6 = ''
- var atts7 = ''
- var atts8 = ''

- var googleFonts = [ ['Didact+Gothic', '', ''] ]
- googleFonts.push(['Ruda', '400,700,900', ''])

- var bodyClasses = []
- var wrapperClasses = []
- var headerClasses = []
- var headerType = 'default' //- deafault | 2level
- var dirPrefix = ""

- var CurrentMenuClass = 'current-menu-item'
- var HasChildMenuClass = 'menu-item-has-children'
- var primarySubMenuClass = 'sub-menu'
- var MegamenuClass = "mega-menu"
- var megaMenuWrapperClass = 'megamenu-wrapper sub-menu'
- var currentMenu = 'Home'
- var primaryNavwrapper = ''


- var footerLayout  = 1 //- 1, 2, 3, 4

- var customStyleName = 'index.css'