extends ../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push('') 
	- var pageTitle = "Single simple"
	- var PageTitleHead = "Portfolio"
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var headerParallaxType = "bg"
	- var pageTitleClass = 'h-500 center-it parallax-layer ov-grad1-alpha-60 dark'
	- var pageTitleImage = dirPrefix+"assets/img/portfolio/masonry/01.jpg"
	- var pageTitleParallaxMode = "bg-title"
	
	- var currentMenu = "Work"
	- var lorem = "Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta."
block main-area
	section.section: .container: .row
		.col-md-7
			img(src=dirPrefix+"assets/img/portfolio/01.jpg", alt='portfolio image').m-bottom-30
			img(src=dirPrefix+"assets/img/portfolio/02.jpg", alt='portfolio image').m-bottom-30
			img(src=dirPrefix+"assets/img/portfolio/03.jpg", alt='portfolio image').m-bottom-30
		.col-md-5
			h6.with-underline Project Details
			p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque. Integer eget mi eget risus eleifend consectetur vehicula sit amet neque. Pellentesque imperdiet est leo, at placerat sem semper eu. 
			p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque. Integer eget mi eget risus eleifend consectetur vehicula sit amet neque. Pellentesque imperdiet est leo, at placerat sem semper eu. 
			hr
			.sp-blank-15
			// #####Begin description metas
			dl.description-item
				dt Client
				dd University of Chaos
				dt Date
				dd May 2015
				dt Website:
				dd www.example.com
				dt Custom Field
				dd Lorem ipsum odor sit amet to be the second line and not only one line
			// #####End description metas
			hr
			.sp-blank-30
			a.ol-iconic-link.skin-green(href="#")
				i.oli.oli-download_2
				| Download Data
			.sp-blank-30
			// #####Begin social icons
			ul.social-icons.border-circle.large.hover-bg-cyan
				li
					a(href="#")
						i.icon.oi-facebook
				li
					a(href="#")
						i.icon.oi-twitter
				li
					a(href="#")
						i.icon.oi-google
				li
					a(href="#")
						i.icon.oi-linkedin
			// #####End social icons