section
	i.fa.fa-envelope-o.nl-icon
section#index_subscribe.section.set-bg.ov-light-alpha-20.slim-container(data-img-src=dirPrefix+"assets/img/bg/002.png"): .container
	.sp-blank-100.sp-blank-sm-50
	.tb-vcenter-wrapper: .vcenter
		.nl-wrapper
			.nl-logo
				img.ol-retina(src="assets/img/logo/nl-logo.png" alt="image alt")
			.nl-form-wrapper
				.nl-form.text-center
					h3.title Looking for WordPress Theme?
					p Join the Mailing List, will keep you posted!
					form#mc-embedded-subscribe-form.validate(action='//themeforest.us8.list-manage.com/subscribe/post?u=62a25d44f0759316aa094e3ac&id=4e44be835a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
						.inner-wrapper
							input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="Your Email Here...")
							input#mc-embedded-subscribe.btn.btn-medium.btn-circle.btn-skin-blue(type='submit', value='Subscribe', name='subscribe')
							div(style='position: absolute; left: -5000px;', aria-hidden='true')
								input(type='text', name='b_62a25d44f0759316aa094e3ac_4e44be835a', tabindex='-1', value='')
	.sp-blank-100.sp-blank-sm-50