.page-head.set-bg.hvh-100
		img.set-me(src=dirPrefix+"assets/img/bg/01.jpg")
		.container
			.tb-vcenter-wrapper
				.vcenter
					.intor-box-wrapper
						.intro-box
							.img-side.shadow
								img.full-width(src=dirPrefix+"assets/img/avatar.jpg")
							.content-side.shadow
								.inner-wrapper
									h1.title
										span Dr.Chaos
										| McTabi
									h2.subtitle General Atletic Professor
										span.text-uppercase Stanford University
			.scroll-icon