extends ../../../../_layouts/lo-normal/fullwidth

append config

	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var headerType = v2
	- var PSheaderClasses = headerClasses.push(' header-thick') 
	- var pageTitle = "Header two level - thick"
	- var dirPrefix = '../../../'
	- var currentMenu = "Features"

block main-area
	include ../../../../_partials/blocks/pages/main-area-fullwidth