extends ../../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' ') 
	- var pageTitle = "accordions"
	- var PageTitleHead = ""
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var pageTitleClass = 'h-400 particles center-it parallax-layer ov-light-alpha-50'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/06.jpg"
	- var pageTitleParallaxMode = "title"
	
	- var currentMenu = "Shortcodes"
	
block main-area
	section.section
		.container
			.row
				.col-md-6
					h3 Accordions
					// #####Begin accordion
					.ol-accordion.dark-skin
						// #####Begin accordion item
						.ac-item.open
							.item-head
							
								span radical
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span sigma
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span infinity
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span integral
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
					// #####End accordion
				
				.col-md-6
					h3 Toggles
					// #####Begin accordion
					.ol-accordion.toggle-free
						// #####Begin accordion item
						.ac-item.open
							.item-head
								span radical
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span sigma
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span infinity
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span integral
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
					// #####End accordion
	hr
	
	section.section.bg-gray
		.container
			h3.m-bottom-40 Color Variations
			.row
				.col-md-4
					// #####Begin accordion
					.ol-accordion.dark-skin
						// #####Begin accordion item
						.ac-item.open
							.item-head
								span radical
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span sigma
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span infinity
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span integral
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
					// #####End accordion
				
				.col-md-4
					// #####Begin accordion
					.ol-accordion.blue-skin
						// #####Begin accordion item
						.ac-item.open
							.item-head
								span radical
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span sigma
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span infinity
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span integral
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
					// #####End accordion
				
				.col-md-4
					// #####Begin accordion
					.ol-accordion.yellow-skin
						// #####Begin accordion item
						.ac-item.open
							.item-head
								span radical
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span sigma
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span infinity
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
						// #####Begin accordion item
						.ac-item
							.item-head
								span integral
							.item-body
								p add class"open-first" to the accordion to activate the first item or add class "active" to any of the heads to make it active. Theme color would be the default color.
						// #####End accordion item
					// #####End accordion
		