extends ../../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' ') 
	- var pageTitle = "Available Icons"
	- var PageTitleHead = "Chaos"
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var pageTitleClass = 'h-400 particles center-it parallax-layer ov-light-alpha-50'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/06.jpg"
	- var pageTitleParallaxMode = "title"
	- var currentMenu = "Shortcodes"
	- var lorem = "Phasellus lectus sem, egestas eget sollic ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta aliquet sed!"
	
block main-area
	section.section
		.container
			.row 
				.col-md-12
					// #####Begin heading
					.heading-with-sub.text-center
						h2.title 370+ Hand-picked Icons
						h4.subtitle And by the way thease are font-icons!
					// #####End heading
			
			.sp-blank-75
			.text-center
				.circle-icon.double.skin-green.size-xs.hidden-sm.hidden-xs
					i.oli.oli-like_filled
				.circle-icon.double.skin-blue.size-sm.hidden-sm.hidden-xs
					i.oli.oli-like_filled
				.circle-icon.double.skin-red.size-md.hidden-sm.hidden-xs
					i.oli.oli-like_filled
				.circle-icon.double.skin-purple.size-lg.hidden-sm.hidden-xs
					i.oli.oli-like_filled
				.circle-icon.double.skin-yellow.size-xl
					i.oli.oli-like_filled
				.circle-icon.double.skin-purple.size-lg
					i.oli.oli-like_filled
				.circle-icon.double.skin-red.size-md
					i.oli.oli-like_filled
				.circle-icon.double.skin-blue.size-sm
					i.oli.oli-like_filled
				.circle-icon.double.skin-green.size-xs
					i.oli.oli-like_filled
			.sp-blank-75
			.text-center
				.circle-icon.skin-green.size-xs.hidden-sm.hidden-xs
					i.oli.oli-twitter
				.circle-icon.skin-blue.size-sm.hidden-sm.hidden-xs
					i.oli.oli-twitter
				.circle-icon.skin-red.size-md.hidden-sm.hidden-xs
					i.oli.oli-twitter
				.circle-icon.skin-purple.size-lg.hidden-sm.hidden-xs
					i.oli.oli-twitter
				.circle-icon.skin-yellow.size-xl
					i.oli.oli-twitter
				.circle-icon.skin-purple.size-lg
					i.oli.oli-twitter
				.circle-icon.skin-red.size-md
					i.oli.oli-twitter
				.circle-icon.skin-blue.size-sm
					i.oli.oli-twitter
				.circle-icon.skin-green.size-xs
					i.oli.oli-twitter
			
	section.section.bg-gray
		.container
			.row 
				h3.text-center Academic Icons
				.sp-blank-40
				ul.chaos-icons-list.row
					li.col-md-3.col-sm-4
						i.oli.oli-Orcid
						input(type='text', readonly='readonly', value='oli-Orcid')
					li.col-md-3.col-sm-4
						i.oli.oli-GoogleScholar
						input(type='text', readonly='readonly', value='oli-GoogleScholar')
					li.col-md-3.col-sm-4
						i.oli.oli-GoogleScholar2
						input(type='text', readonly='readonly', value='oli-GoogleScholar2')
					li.col-md-3.col-sm-4
						i.oli.oli-ResearchGate
						input(type='text', readonly='readonly', value='oli-ResearchGate')
					li.col-md-3.col-sm-4
						i.oli.oli-ResearchGate2
						input(type='text', readonly='readonly', value='oli-ResearchGate2')
					li.col-md-3.col-sm-4
						i.oli.oli-Mendeley
						input(type='text', readonly='readonly', value='oli-Mendeley')
					li.col-md-3.col-sm-4
						i.oli.oli-Mendeley2
						input(type='text', readonly='readonly', value='oli-Mendeley2')
					li.col-md-3.col-sm-4
						i.oli.oli-Orcid2
						input(type='text', readonly='readonly', value='oli-Orcid2')
					li.col-md-3.col-sm-4
						i.oli.oli-Impactstory
						input(type='text', readonly='readonly', value='oli-Impactstory')
					li.col-md-3.col-sm-4
						i.oli.oli-Impactstory2
						input(type='text', readonly='readonly', value='oli-Impactstory2')
					li.col-md-3.col-sm-4
						i.oli.oli-Academiaedu
						input(type='text', readonly='readonly', value='oli-Academiaedu')
					li.col-md-3.col-sm-4
						i.oli.oli-Academiaedu2
						input(type='text', readonly='readonly', value='oli-Academiaedu2')
					li.col-md-3.col-sm-4
						i.oli.oli-Zotero
						input(type='text', readonly='readonly', value='oli-Zotero')
					li.col-md-3.col-sm-4
						i.oli.oli-Zotero2
						input(type='text', readonly='readonly', value='oli-Zotero2')
					li.col-md-3.col-sm-4
						i.oli.oli-Figshare
						input(type='text', readonly='readonly', value='oli-Figshare')
					li.col-md-3.col-sm-4
						i.oli.oli-Figshare2
						input(type='text', readonly='readonly', value='oli-Figshare2')
					li.col-md-3.col-sm-4
						i.oli.oli-Dryad
						input(type='text', readonly='readonly', value='oli-Dryad')
					li.col-md-3.col-sm-4
						i.oli.oli-Dryad2
						input(type='text', readonly='readonly', value='oli-Dryad2')
					li.col-md-3.col-sm-4
						i.oli.oli-arXiv
						input(type='text', readonly='readonly', value='oli-arXiv')
					li.col-md-3.col-sm-4
						i.oli.oli-arXiv2
						input(type='text', readonly='readonly', value='oli-arXiv2')
					li.col-md-3.col-sm-4
						i.oli.oli-Scirate
						input(type='text', readonly='readonly', value='oli-Scirate')
					li.col-md-3.col-sm-4
						i.oli.oli-Scirate2
						input(type='text', readonly='readonly', value='oli-Scirate2')
					li.col-md-3.col-sm-4
						i.oli.oli-OpenAccess
						input(type='text', readonly='readonly', value='oli-OpenAccess')
					li.col-md-3.col-sm-4
						i.oli.oli-OpenAccess2
						input(type='text', readonly='readonly', value='oli-OpenAccess2')
				.sp-line-100
				h3.text-center General Icons
				.sp-blank-40
				ul.chaos-icons-list.row
					li.col-md-3.col-sm-4
						i.oli.oli-clouds
						input(type='text', readonly='readonly', value='oli-clouds')
					li.col-md-3.col-sm-4
						i.oli.oli-sun
						input(type='text', readonly='readonly', value='oli-sun')
					li.col-md-3.col-sm-4
						i.oli.oli-about
						input(type='text', readonly='readonly', value='oli-about')
					li.col-md-3.col-sm-4
						i.oli.oli-address_book
						input(type='text', readonly='readonly', value='oli-address_book')
					li.col-md-3.col-sm-4
						i.oli.oli-attention
						input(type='text', readonly='readonly', value='oli-attention')
					li.col-md-3.col-sm-4
						i.oli.oli-attention_filled
						input(type='text', readonly='readonly', value='oli-attention_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-bookmark
						input(type='text', readonly='readonly', value='oli-bookmark')
					li.col-md-3.col-sm-4
						i.oli.oli-calculator
						input(type='text', readonly='readonly', value='oli-calculator')
					li.col-md-3.col-sm-4
						i.oli.oli-cancel
						input(type='text', readonly='readonly', value='oli-cancel')
					li.col-md-3.col-sm-4
						i.oli.oli-cancel_2
						input(type='text', readonly='readonly', value='oli-cancel_2')
					li.col-md-3.col-sm-4
						i.oli.oli-cancel_filled
						input(type='text', readonly='readonly', value='oli-cancel_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-checked
						input(type='text', readonly='readonly', value='oli-checked')
					li.col-md-3.col-sm-4
						i.oli.oli-checked_2
						input(type='text', readonly='readonly', value='oli-checked_2')
					li.col-md-3.col-sm-4
						i.oli.oli-checked_2_filled
						input(type='text', readonly='readonly', value='oli-checked_2_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-checked_filled
						input(type='text', readonly='readonly', value='oli-checked_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-checkmark
						input(type='text', readonly='readonly', value='oli-checkmark')
					li.col-md-3.col-sm-4
						i.oli.oli-contacts
						input(type='text', readonly='readonly', value='oli-contacts')
					li.col-md-3.col-sm-4
						i.oli.oli-document
						input(type='text', readonly='readonly', value='oli-document')
					li.col-md-3.col-sm-4
						i.oli.oli-download
						input(type='text', readonly='readonly', value='oli-download')
					li.col-md-3.col-sm-4
						i.oli.oli-download_2
						input(type='text', readonly='readonly', value='oli-download_2')
					li.col-md-3.col-sm-4
						i.oli.oli-empty_trash
						input(type='text', readonly='readonly', value='oli-empty_trash')
					li.col-md-3.col-sm-4
						i.oli.oli-file
						input(type='text', readonly='readonly', value='oli-file')
					li.col-md-3.col-sm-4
						i.oli.oli-folder
						input(type='text', readonly='readonly', value='oli-folder')
					li.col-md-3.col-sm-4
						i.oli.oli-home
						input(type='text', readonly='readonly', value='oli-home')
					li.col-md-3.col-sm-4
						i.oli.oli-idea
						input(type='text', readonly='readonly', value='oli-idea')
					li.col-md-3.col-sm-4
						i.oli.oli-idea_filled
						input(type='text', readonly='readonly', value='oli-idea_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-info
						input(type='text', readonly='readonly', value='oli-info')
					li.col-md-3.col-sm-4
						i.oli.oli-info_filled
						input(type='text', readonly='readonly', value='oli-info_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-info_squared
						input(type='text', readonly='readonly', value='oli-info_squared')
					li.col-md-3.col-sm-4
						i.oli.oli-key
						input(type='text', readonly='readonly', value='oli-key')
					li.col-md-3.col-sm-4
						i.oli.oli-lock
						input(type='text', readonly='readonly', value='oli-lock')
					li.col-md-3.col-sm-4
						i.oli.oli-lock_2
						input(type='text', readonly='readonly', value='oli-lock_2')
					li.col-md-3.col-sm-4
						i.oli.oli-lock_2_filled
						input(type='text', readonly='readonly', value='oli-lock_2_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-minus
						input(type='text', readonly='readonly', value='oli-minus')
					li.col-md-3.col-sm-4
						i.oli.oli-minus_filled
						input(type='text', readonly='readonly', value='oli-minus_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-news
						input(type='text', readonly='readonly', value='oli-news')
					li.col-md-3.col-sm-4
						i.oli.oli-ok
						input(type='text', readonly='readonly', value='oli-ok')
					li.col-md-3.col-sm-4
						i.oli.oli-ok_filled
						input(type='text', readonly='readonly', value='oli-ok_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-opened_folder
						input(type='text', readonly='readonly', value='oli-opened_folder')
					li.col-md-3.col-sm-4
						i.oli.oli-plus
						input(type='text', readonly='readonly', value='oli-plus')
					li.col-md-3.col-sm-4
						i.oli.oli-plus_filled
						input(type='text', readonly='readonly', value='oli-plus_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-puzzle
						input(type='text', readonly='readonly', value='oli-puzzle')
					li.col-md-3.col-sm-4
						i.oli.oli-refresh
						input(type='text', readonly='readonly', value='oli-refresh')
					li.col-md-3.col-sm-4
						i.oli.oli-search
						input(type='text', readonly='readonly', value='oli-search')
					li.col-md-3.col-sm-4
						i.oli.oli-services
						input(type='text', readonly='readonly', value='oli-services')
					li.col-md-3.col-sm-4
						i.oli.oli-settings
						input(type='text', readonly='readonly', value='oli-settings')
					li.col-md-3.col-sm-4
						i.oli.oli-share
						input(type='text', readonly='readonly', value='oli-share')
					li.col-md-3.col-sm-4
						i.oli.oli-synchronize
						input(type='text', readonly='readonly', value='oli-synchronize')
					li.col-md-3.col-sm-4
						i.oli.oli-unlock
						input(type='text', readonly='readonly', value='oli-unlock')
					li.col-md-3.col-sm-4
						i.oli.oli-unlock_2
						input(type='text', readonly='readonly', value='oli-unlock_2')
					li.col-md-3.col-sm-4
						i.oli.oli-upload
						input(type='text', readonly='readonly', value='oli-upload')
					li.col-md-3.col-sm-4
						i.oli.oli-upload_2
						input(type='text', readonly='readonly', value='oli-upload_2')
					li.col-md-3.col-sm-4
						i.oli.oli-administrator
						input(type='text', readonly='readonly', value='oli-administrator')
					li.col-md-3.col-sm-4
						i.oli.oli-user_female_circle
						input(type='text', readonly='readonly', value='oli-user_female_circle')
					li.col-md-3.col-sm-4
						i.oli.oli-user_male_circle
						input(type='text', readonly='readonly', value='oli-user_male_circle')
					li.col-md-3.col-sm-4
						i.oli.oli-active_state
						input(type='text', readonly='readonly', value='oli-active_state')
					li.col-md-3.col-sm-4
						i.oli.oli-delete_sign
						input(type='text', readonly='readonly', value='oli-delete_sign')
					li.col-md-3.col-sm-4
						i.oli.oli-design
						input(type='text', readonly='readonly', value='oli-design')
					li.col-md-3.col-sm-4
						i.oli.oli-email
						input(type='text', readonly='readonly', value='oli-email')
					li.col-md-3.col-sm-4
						i.oli.oli-menu
						input(type='text', readonly='readonly', value='oli-menu')
					li.col-md-3.col-sm-4
						i.oli.oli-menu_filled
						input(type='text', readonly='readonly', value='oli-menu_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-open_in_popup
						input(type='text', readonly='readonly', value='oli-open_in_popup')
					li.col-md-3.col-sm-4
						i.oli.oli-quick_mode_on
						input(type='text', readonly='readonly', value='oli-quick_mode_on')
					li.col-md-3.col-sm-4
						i.oli.oli-replace
						input(type='text', readonly='readonly', value='oli-replace')
					li.col-md-3.col-sm-4
						i.oli.oli-save
						input(type='text', readonly='readonly', value='oli-save')
					li.col-md-3.col-sm-4
						i.oli.oli-thumbnails
						input(type='text', readonly='readonly', value='oli-thumbnails')
					li.col-md-3.col-sm-4
						i.oli.oli-zoom_in
						input(type='text', readonly='readonly', value='oli-zoom_in')
					li.col-md-3.col-sm-4
						i.oli.oli-zoom_out
						input(type='text', readonly='readonly', value='oli-zoom_out')
					li.col-md-3.col-sm-4
						i.oli.oli-eiffel_tower
						input(type='text', readonly='readonly', value='oli-eiffel_tower')
					li.col-md-3.col-sm-4
						i.oli.oli-us_capitol
						input(type='text', readonly='readonly', value='oli-us_capitol')
					li.col-md-3.col-sm-4
						i.oli.oli-water_transportation
						input(type='text', readonly='readonly', value='oli-water_transportation')
					li.col-md-3.col-sm-4
						i.oli.oli-airplane_mode_on
						input(type='text', readonly='readonly', value='oli-airplane_mode_on')
					li.col-md-3.col-sm-4
						i.oli.oli-bicycle
						input(type='text', readonly='readonly', value='oli-bicycle')
					li.col-md-3.col-sm-4
						i.oli.oli-car
						input(type='text', readonly='readonly', value='oli-car')
					li.col-md-3.col-sm-4
						i.oli.oli-helicopter
						input(type='text', readonly='readonly', value='oli-helicopter')
					li.col-md-3.col-sm-4
						i.oli.oli-launched_rocket
						input(type='text', readonly='readonly', value='oli-launched_rocket')
					li.col-md-3.col-sm-4
						i.oli.oli-motorcycle
						input(type='text', readonly='readonly', value='oli-motorcycle')
					li.col-md-3.col-sm-4
						i.oli.oli-rocket
						input(type='text', readonly='readonly', value='oli-rocket')
					li.col-md-3.col-sm-4
						i.oli.oli-alarm_clock
						input(type='text', readonly='readonly', value='oli-alarm_clock')
					li.col-md-3.col-sm-4
						i.oli.oli-clock
						input(type='text', readonly='readonly', value='oli-clock')
					li.col-md-3.col-sm-4
						i.oli.oli-basketball
						input(type='text', readonly='readonly', value='oli-basketball')
					li.col-md-3.col-sm-4
						i.oli.oli-trophy
						input(type='text', readonly='readonly', value='oli-trophy')
					li.col-md-3.col-sm-4
						i.oli.oli-realtime_protection
						input(type='text', readonly='readonly', value='oli-realtime_protection')
					li.col-md-3.col-sm-4
						i.oli.oli-average_math
						input(type='text', readonly='readonly', value='oli-average_math')
					li.col-md-3.col-sm-4
						i.oli.oli-borrow_book
						input(type='text', readonly='readonly', value='oli-borrow_book')
					li.col-md-3.col-sm-4
						i.oli.oli-caliper
						input(type='text', readonly='readonly', value='oli-caliper')
					li.col-md-3.col-sm-4
						i.oli.oli-chromatography
						input(type='text', readonly='readonly', value='oli-chromatography')
					li.col-md-3.col-sm-4
						i.oli.oli-class
						input(type='text', readonly='readonly', value='oli-class')
					li.col-md-3.col-sm-4
						i.oli.oli-classroom
						input(type='text', readonly='readonly', value='oli-classroom')
					li.col-md-3.col-sm-4
						i.oli.oli-cosine
						input(type='text', readonly='readonly', value='oli-cosine')
					li.col-md-3.col-sm-4
						i.oli.oli-courses
						input(type='text', readonly='readonly', value='oli-courses')
					li.col-md-3.col-sm-4
						i.oli.oli-degrees
						input(type='text', readonly='readonly', value='oli-degrees')
					li.col-md-3.col-sm-4
						i.oli.oli-depth
						input(type='text', readonly='readonly', value='oli-depth')
					li.col-md-3.col-sm-4
						i.oli.oli-dew_point
						input(type='text', readonly='readonly', value='oli-dew_point')
					li.col-md-3.col-sm-4
						i.oli.oli-diploma
						input(type='text', readonly='readonly', value='oli-diploma')
					li.col-md-3.col-sm-4
						i.oli.oli-divide
						input(type='text', readonly='readonly', value='oli-divide')
					li.col-md-3.col-sm-4
						i.oli.oli-dna_helix
						input(type='text', readonly='readonly', value='oli-dna_helix')
					li.col-md-3.col-sm-4
						i.oli.oli-elective
						input(type='text', readonly='readonly', value='oli-elective')
					li.col-md-3.col-sm-4
						i.oli.oli-equal_sign
						input(type='text', readonly='readonly', value='oli-equal_sign')
					li.col-md-3.col-sm-4
						i.oli.oli-equivalent
						input(type='text', readonly='readonly', value='oli-equivalent')
					li.col-md-3.col-sm-4
						i.oli.oli-exam
						input(type='text', readonly='readonly', value='oli-exam')
					li.col-md-3.col-sm-4
						i.oli.oli-hashtag
						input(type='text', readonly='readonly', value='oli-hashtag')
					li.col-md-3.col-sm-4
						i.oli.oli-infinity
						input(type='text', readonly='readonly', value='oli-infinity')
					li.col-md-3.col-sm-4
						i.oli.oli-informatics
						input(type='text', readonly='readonly', value='oli-informatics')
					li.col-md-3.col-sm-4
						i.oli.oli-law
						input(type='text', readonly='readonly', value='oli-law')
					li.col-md-3.col-sm-4
						i.oli.oli-length
						input(type='text', readonly='readonly', value='oli-length')
					li.col-md-3.col-sm-4
						i.oli.oli-literature
						input(type='text', readonly='readonly', value='oli-literature')
					li.col-md-3.col-sm-4
						i.oli.oli-literature_filled
						input(type='text', readonly='readonly', value='oli-literature_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-math
						input(type='text', readonly='readonly', value='oli-math')
					li.col-md-3.col-sm-4
						i.oli.oli-micrometer
						input(type='text', readonly='readonly', value='oli-micrometer')
					li.col-md-3.col-sm-4
						i.oli.oli-parent_guardian
						input(type='text', readonly='readonly', value='oli-parent_guardian')
					li.col-md-3.col-sm-4
						i.oli.oli-peptide
						input(type='text', readonly='readonly', value='oli-peptide')
					li.col-md-3.col-sm-4
						i.oli.oli-physics
						input(type='text', readonly='readonly', value='oli-physics')
					li.col-md-3.col-sm-4
						i.oli.oli-pressure
						input(type='text', readonly='readonly', value='oli-pressure')
					li.col-md-3.col-sm-4
						i.oli.oli-psychology
						input(type='text', readonly='readonly', value='oli-psychology')
					li.col-md-3.col-sm-4
						i.oli.oli-report_card
						input(type='text', readonly='readonly', value='oli-report_card')
					li.col-md-3.col-sm-4
						i.oli.oli-return_book
						input(type='text', readonly='readonly', value='oli-return_book')
					li.col-md-3.col-sm-4
						i.oli.oli-school
						input(type='text', readonly='readonly', value='oli-school')
					li.col-md-3.col-sm-4
						i.oli.oli-school_director
						input(type='text', readonly='readonly', value='oli-school_director')
					li.col-md-3.col-sm-4
						i.oli.oli-section
						input(type='text', readonly='readonly', value='oli-section')
					li.col-md-3.col-sm-4
						i.oli.oli-sine
						input(type='text', readonly='readonly', value='oli-sine')
					li.col-md-3.col-sm-4
						i.oli.oli-square_root
						input(type='text', readonly='readonly', value='oli-square_root')
					li.col-md-3.col-sm-4
						i.oli.oli-sterilization
						input(type='text', readonly='readonly', value='oli-sterilization')
					li.col-md-3.col-sm-4
						i.oli.oli-students
						input(type='text', readonly='readonly', value='oli-students')
					li.col-md-3.col-sm-4
						i.oli.oli-surface
						input(type='text', readonly='readonly', value='oli-surface')
					li.col-md-3.col-sm-4
						i.oli.oli-tangent
						input(type='text', readonly='readonly', value='oli-tangent')
					li.col-md-3.col-sm-4
						i.oli.oli-temperature
						input(type='text', readonly='readonly', value='oli-temperature')
					li.col-md-3.col-sm-4
						i.oli.oli-test_tube
						input(type='text', readonly='readonly', value='oli-test_tube')
					li.col-md-3.col-sm-4
						i.oli.oli-time
						input(type='text', readonly='readonly', value='oli-time')
					li.col-md-3.col-sm-4
						i.oli.oli-time_filled
						input(type='text', readonly='readonly', value='oli-time_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-university
						input(type='text', readonly='readonly', value='oli-university')
					li.col-md-3.col-sm-4
						i.oli.oli-volume
						input(type='text', readonly='readonly', value='oli-volume')
					li.col-md-3.col-sm-4
						i.oli.oli-weight
						input(type='text', readonly='readonly', value='oli-weight')
					li.col-md-3.col-sm-4
						i.oli.oli-bug
						input(type='text', readonly='readonly', value='oli-bug')
					li.col-md-3.col-sm-4
						i.oli.oli-code
						input(type='text', readonly='readonly', value='oli-code')
					li.col-md-3.col-sm-4
						i.oli.oli-source_code
						input(type='text', readonly='readonly', value='oli-source_code')
					li.col-md-3.col-sm-4
						i.oli.oli-variable
						input(type='text', readonly='readonly', value='oli-variable')
					li.col-md-3.col-sm-4
						i.oli.oli-watch
						input(type='text', readonly='readonly', value='oli-watch')
					li.col-md-3.col-sm-4
						i.oli.oli-watch_filled
						input(type='text', readonly='readonly', value='oli-watch_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-drafting_compass2
						input(type='text', readonly='readonly', value='oli-drafting_compass2')
					li.col-md-3.col-sm-4
						i.oli.oli-glue
						input(type='text', readonly='readonly', value='oli-glue')
					li.col-md-3.col-sm-4
						i.oli.oli-printed_OCR
						input(type='text', readonly='readonly', value='oli-printed_OCR')
					li.col-md-3.col-sm-4
						i.oli.oli-printer_door_open
						input(type='text', readonly='readonly', value='oli-printer_door_open')
					li.col-md-3.col-sm-4
						i.oli.oli-quill_with_ink
						input(type='text', readonly='readonly', value='oli-quill_with_ink')
					li.col-md-3.col-sm-4
						i.oli.oli-stapler
						input(type='text', readonly='readonly', value='oli-stapler')
					li.col-md-3.col-sm-4
						i.oli.oli-barley
						input(type='text', readonly='readonly', value='oli-barley')
					li.col-md-3.col-sm-4
						i.oli.oli-grapes
						input(type='text', readonly='readonly', value='oli-grapes')
					li.col-md-3.col-sm-4
						i.oli.oli-hand_planting
						input(type='text', readonly='readonly', value='oli-hand_planting')
					li.col-md-3.col-sm-4
						i.oli.oli-sprout
						input(type='text', readonly='readonly', value='oli-sprout')
					li.col-md-3.col-sm-4
						i.oli.oli-camera
						input(type='text', readonly='readonly', value='oli-camera')
					li.col-md-3.col-sm-4
						i.oli.oli-movie_projector
						input(type='text', readonly='readonly', value='oli-movie_projector')
					li.col-md-3.col-sm-4
						i.oli.oli-start
						input(type='text', readonly='readonly', value='oli-start')
					li.col-md-3.col-sm-4
						i.oli.oli-start_filled
						input(type='text', readonly='readonly', value='oli-start_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-download_from_cloud
						input(type='text', readonly='readonly', value='oli-download_from_cloud')
					li.col-md-3.col-sm-4
						i.oli.oli-download_from_cloud_filled
						input(type='text', readonly='readonly', value='oli-download_from_cloud_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-shared
						input(type='text', readonly='readonly', value='oli-shared')
					li.col-md-3.col-sm-4
						i.oli.oli-shared_filled
						input(type='text', readonly='readonly', value='oli-shared_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-microphone
						input(type='text', readonly='readonly', value='oli-microphone')
					li.col-md-3.col-sm-4
						i.oli.oli-treble_clef
						input(type='text', readonly='readonly', value='oli-treble_clef')
					li.col-md-3.col-sm-4
						i.oli.oli-violin
						input(type='text', readonly='readonly', value='oli-violin')
					li.col-md-3.col-sm-4
						i.oli.oli-multiple_devices
						input(type='text', readonly='readonly', value='oli-multiple_devices')
					li.col-md-3.col-sm-4
						i.oli.oli-phone
						input(type='text', readonly='readonly', value='oli-phone')
					li.col-md-3.col-sm-4
						i.oli.oli-phone_disconnected
						input(type='text', readonly='readonly', value='oli-phone_disconnected')
					li.col-md-3.col-sm-4
						i.oli.oli-activity_feed
						input(type='text', readonly='readonly', value='oli-activity_feed')
					li.col-md-3.col-sm-4
						i.oli.oli-attach
						input(type='text', readonly='readonly', value='oli-attach')
					li.col-md-3.col-sm-4
						i.oli.oli-chat
						input(type='text', readonly='readonly', value='oli-chat')
					li.col-md-3.col-sm-4
						i.oli.oli-like
						input(type='text', readonly='readonly', value='oli-like')
					li.col-md-3.col-sm-4
						i.oli.oli-like_filled
						input(type='text', readonly='readonly', value='oli-like_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-more
						input(type='text', readonly='readonly', value='oli-more')
					li.col-md-3.col-sm-4
						i.oli.oli-star
						input(type='text', readonly='readonly', value='oli-star')
					li.col-md-3.col-sm-4
						i.oli.oli-star_filled
						input(type='text', readonly='readonly', value='oli-star_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-satellite_sending_signal
						input(type='text', readonly='readonly', value='oli-satellite_sending_signal')
					li.col-md-3.col-sm-4
						i.oli.oli-satellites
						input(type='text', readonly='readonly', value='oli-satellites')
					li.col-md-3.col-sm-4
						i.oli.oli-google_images_copyrighted_filled
						input(type='text', readonly='readonly', value='oli-google_images_copyrighted_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-google_scholar_copyrighted
						input(type='text', readonly='readonly', value='oli-google_scholar_copyrighted')
					li.col-md-3.col-sm-4
						i.oli.oli-biomass
						input(type='text', readonly='readonly', value='oli-biomass')
					li.col-md-3.col-sm-4
						i.oli.oli-electrical_threshold
						input(type='text', readonly='readonly', value='oli-electrical_threshold')
					li.col-md-3.col-sm-4
						i.oli.oli-greentech
						input(type='text', readonly='readonly', value='oli-greentech')
					li.col-md-3.col-sm-4
						i.oli.oli-hydroelectric
						input(type='text', readonly='readonly', value='oli-hydroelectric')
					li.col-md-3.col-sm-4
						i.oli.oli-nuclear_power_plant
						input(type='text', readonly='readonly', value='oli-nuclear_power_plant')
					li.col-md-3.col-sm-4
						i.oli.oli-oil_industry
						input(type='text', readonly='readonly', value='oli-oil_industry')
					li.col-md-3.col-sm-4
						i.oli.oli-poison
						input(type='text', readonly='readonly', value='oli-poison')
					li.col-md-3.col-sm-4
						i.oli.oli-radio_active
						input(type='text', readonly='readonly', value='oli-radio_active')
					li.col-md-3.col-sm-4
						i.oli.oli-recycling
						input(type='text', readonly='readonly', value='oli-recycling')
					li.col-md-3.col-sm-4
						i.oli.oli-whisky_still
						input(type='text', readonly='readonly', value='oli-whisky_still')
					li.col-md-3.col-sm-4
						i.oli.oli-wind_turbine
						input(type='text', readonly='readonly', value='oli-wind_turbine')
					li.col-md-3.col-sm-4
						i.oli.oli-armchair
						input(type='text', readonly='readonly', value='oli-armchair')
					li.col-md-3.col-sm-4
						i.oli.oli-cloakroom
						input(type='text', readonly='readonly', value='oli-cloakroom')
					li.col-md-3.col-sm-4
						i.oli.oli-desk_lamp
						input(type='text', readonly='readonly', value='oli-desk_lamp')
					li.col-md-3.col-sm-4
						i.oli.oli-fan
						input(type='text', readonly='readonly', value='oli-fan')
					li.col-md-3.col-sm-4
						i.oli.oli-potted_plant
						input(type='text', readonly='readonly', value='oli-potted_plant')
					li.col-md-3.col-sm-4
						i.oli.oli-spiral_bulb
						input(type='text', readonly='readonly', value='oli-spiral_bulb')
					li.col-md-3.col-sm-4
						i.oli.oli-diamond
						input(type='text', readonly='readonly', value='oli-diamond')
					li.col-md-3.col-sm-4
						i.oli.oli-reindeer
						input(type='text', readonly='readonly', value='oli-reindeer')
					li.col-md-3.col-sm-4
						i.oli.oli-santa
						input(type='text', readonly='readonly', value='oli-santa')
					li.col-md-3.col-sm-4
						i.oli.oli-heart_monitor
						input(type='text', readonly='readonly', value='oli-heart_monitor')
					li.col-md-3.col-sm-4
						i.oli.oli-unhcr
						input(type='text', readonly='readonly', value='oli-unhcr')
					li.col-md-3.col-sm-4
						i.oli.oli-UNICEF
						input(type='text', readonly='readonly', value='oli-UNICEF')
					li.col-md-3.col-sm-4
						i.oli.oli-clubs
						input(type='text', readonly='readonly', value='oli-clubs')
					li.col-md-3.col-sm-4
						i.oli.oli-knight
						input(type='text', readonly='readonly', value='oli-knight')
					li.col-md-3.col-sm-4
						i.oli.oli-spades
						input(type='text', readonly='readonly', value='oli-spades')
					li.col-md-3.col-sm-4
						i.oli.oli-birthday_cake
						input(type='text', readonly='readonly', value='oli-birthday_cake')
					li.col-md-3.col-sm-4
						i.oli.oli-wallet
						input(type='text', readonly='readonly', value='oli-wallet')
					li.col-md-3.col-sm-4
						i.oli.oli-wallet_filled
						input(type='text', readonly='readonly', value='oli-wallet_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-drafting_compass
						input(type='text', readonly='readonly', value='oli-drafting_compass')
					li.col-md-3.col-sm-4
						i.oli.oli-shopping_bag
						input(type='text', readonly='readonly', value='oli-shopping_bag')
					li.col-md-3.col-sm-4
						i.oli.oli-shopping_bag_filled
						input(type='text', readonly='readonly', value='oli-shopping_bag_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-shopping_cart
						input(type='text', readonly='readonly', value='oli-shopping_cart')
					li.col-md-3.col-sm-4
						i.oli.oli-shopping_cart_filled
						input(type='text', readonly='readonly', value='oli-shopping_cart_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-shopping_cart_loaded
						input(type='text', readonly='readonly', value='oli-shopping_cart_loaded')
					li.col-md-3.col-sm-4
						i.oli.oli-shopping_cart_loaded_filled
						input(type='text', readonly='readonly', value='oli-shopping_cart_loaded_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-filter
						input(type='text', readonly='readonly', value='oli-filter')
					li.col-md-3.col-sm-4
						i.oli.oli-filter_filled
						input(type='text', readonly='readonly', value='oli-filter_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-line_chart
						input(type='text', readonly='readonly', value='oli-line_chart')
					li.col-md-3.col-sm-4
						i.oli.oli-normal_distribution_histogram
						input(type='text', readonly='readonly', value='oli-normal_distribution_histogram')
					li.col-md-3.col-sm-4
						i.oli.oli-pie_chart
						input(type='text', readonly='readonly', value='oli-pie_chart')
					li.col-md-3.col-sm-4
						i.oli.oli-radar_plot
						input(type='text', readonly='readonly', value='oli-radar_plot')
					li.col-md-3.col-sm-4
						i.oli.oli-scrolling
						input(type='text', readonly='readonly', value='oli-scrolling')
					li.col-md-3.col-sm-4
						i.oli.oli-scrolling_filled
						input(type='text', readonly='readonly', value='oli-scrolling_filled')
					li.col-md-3.col-sm-4
						i.oli.oli-telescope
						input(type='text', readonly='readonly', value='oli-telescope')
					li.col-md-3.col-sm-4
						i.oli.oli-planet
						input(type='text', readonly='readonly', value='oli-planet')
					li.col-md-3.col-sm-4
						i.oli.oli-conference_call
						input(type='text', readonly='readonly', value='oli-conference_call')
					li.col-md-3.col-sm-4
						i.oli.oli-graduation_cap
						input(type='text', readonly='readonly', value='oli-graduation_cap')
					li.col-md-3.col-sm-4
						i.oli.oli-maintenance
						input(type='text', readonly='readonly', value='oli-maintenance')
					li.col-md-3.col-sm-4
						i.oli.oli-statistics
						input(type='text', readonly='readonly', value='oli-statistics')
					li.col-md-3.col-sm-4
						i.oli.oli-training
						input(type='text', readonly='readonly', value='oli-training')
					li.col-md-3.col-sm-4
						i.oli.oli-back
						input(type='text', readonly='readonly', value='oli-back')
					li.col-md-3.col-sm-4
						i.oli.oli-down
						input(type='text', readonly='readonly', value='oli-down')
					li.col-md-3.col-sm-4
						i.oli.oli-down_left
						input(type='text', readonly='readonly', value='oli-down_left')
					li.col-md-3.col-sm-4
						i.oli.oli-down_right
						input(type='text', readonly='readonly', value='oli-down_right')
					li.col-md-3.col-sm-4
						i.oli.oli-down4
						input(type='text', readonly='readonly', value='oli-down4')
					li.col-md-3.col-sm-4
						i.oli.oli-forward
						input(type='text', readonly='readonly', value='oli-forward')
					li.col-md-3.col-sm-4
						i.oli.oli-left
						input(type='text', readonly='readonly', value='oli-left')
					li.col-md-3.col-sm-4
						i.oli.oli-right
						input(type='text', readonly='readonly', value='oli-right')
					li.col-md-3.col-sm-4
						i.oli.oli-up
						input(type='text', readonly='readonly', value='oli-up')
					li.col-md-3.col-sm-4
						i.oli.oli-up_left
						input(type='text', readonly='readonly', value='oli-up_left')
					li.col-md-3.col-sm-4
						i.oli.oli-up_right
						input(type='text', readonly='readonly', value='oli-up_right')
					li.col-md-3.col-sm-4
						i.oli.oli-up4
						input(type='text', readonly='readonly', value='oli-up4')
					li.col-md-3.col-sm-4
						i.oli.oli-alpha
						input(type='text', readonly='readonly', value='oli-alpha')
					li.col-md-3.col-sm-4
						i.oli.oli-beta
						input(type='text', readonly='readonly', value='oli-beta')
					li.col-md-3.col-sm-4
						i.oli.oli-gamma
						input(type='text', readonly='readonly', value='oli-gamma')
					li.col-md-3.col-sm-4
						i.oli.oli-mu
						input(type='text', readonly='readonly', value='oli-mu')
					li.col-md-3.col-sm-4
						i.oli.oli-omega
						input(type='text', readonly='readonly', value='oli-omega')
					li.col-md-3.col-sm-4
						i.oli.oli-pi
						input(type='text', readonly='readonly', value='oli-pi')
					li.col-md-3.col-sm-4
						i.oli.oli-question_mark
						input(type='text', readonly='readonly', value='oli-question_mark')
					li.col-md-3.col-sm-4
						i.oli.oli-sigma
						input(type='text', readonly='readonly', value='oli-sigma')
					li.col-md-3.col-sm-4
						i.oli.oli-mobile
						input(type='text', readonly='readonly', value='oli-mobile')
					li.col-md-3.col-sm-4
						i.oli.oli-laptop
						input(type='text', readonly='readonly', value='oli-laptop')
					li.col-md-3.col-sm-4
						i.oli.oli-desktop
						input(type='text', readonly='readonly', value='oli-desktop')
					li.col-md-3.col-sm-4
						i.oli.oli-tablet
						input(type='text', readonly='readonly', value='oli-tablet')
					li.col-md-3.col-sm-4
						i.oli.oli-phone2
						input(type='text', readonly='readonly', value='oli-phone2')
					li.col-md-3.col-sm-4
						i.oli.oli-document2
						input(type='text', readonly='readonly', value='oli-document2')
					li.col-md-3.col-sm-4
						i.oli.oli-documents
						input(type='text', readonly='readonly', value='oli-documents')
					li.col-md-3.col-sm-4
						i.oli.oli-search2
						input(type='text', readonly='readonly', value='oli-search2')
					li.col-md-3.col-sm-4
						i.oli.oli-clipboard
						input(type='text', readonly='readonly', value='oli-clipboard')
					li.col-md-3.col-sm-4
						i.oli.oli-newspaper
						input(type='text', readonly='readonly', value='oli-newspaper')
					li.col-md-3.col-sm-4
						i.oli.oli-notebook
						input(type='text', readonly='readonly', value='oli-notebook')
					li.col-md-3.col-sm-4
						i.oli.oli-book-open
						input(type='text', readonly='readonly', value='oli-book-open')
					li.col-md-3.col-sm-4
						i.oli.oli-browser
						input(type='text', readonly='readonly', value='oli-browser')
					li.col-md-3.col-sm-4
						i.oli.oli-calendar
						input(type='text', readonly='readonly', value='oli-calendar')
					li.col-md-3.col-sm-4
						i.oli.oli-presentation
						input(type='text', readonly='readonly', value='oli-presentation')
					li.col-md-3.col-sm-4
						i.oli.oli-picture
						input(type='text', readonly='readonly', value='oli-picture')
					li.col-md-3.col-sm-4
						i.oli.oli-pictures
						input(type='text', readonly='readonly', value='oli-pictures')
					li.col-md-3.col-sm-4
						i.oli.oli-video
						input(type='text', readonly='readonly', value='oli-video')
					li.col-md-3.col-sm-4
						i.oli.oli-camera2
						input(type='text', readonly='readonly', value='oli-camera2')
					li.col-md-3.col-sm-4
						i.oli.oli-printer
						input(type='text', readonly='readonly', value='oli-printer')
					li.col-md-3.col-sm-4
						i.oli.oli-toolbox
						input(type='text', readonly='readonly', value='oli-toolbox')
					li.col-md-3.col-sm-4
						i.oli.oli-briefcase
						input(type='text', readonly='readonly', value='oli-briefcase')
					li.col-md-3.col-sm-4
						i.oli.oli-wallet2
						input(type='text', readonly='readonly', value='oli-wallet2')
					li.col-md-3.col-sm-4
						i.oli.oli-gift
						input(type='text', readonly='readonly', value='oli-gift')
					li.col-md-3.col-sm-4
						i.oli.oli-bargraph
						input(type='text', readonly='readonly', value='oli-bargraph')
					li.col-md-3.col-sm-4
						i.oli.oli-grid
						input(type='text', readonly='readonly', value='oli-grid')
					li.col-md-3.col-sm-4
						i.oli.oli-expand
						input(type='text', readonly='readonly', value='oli-expand')
					li.col-md-3.col-sm-4
						i.oli.oli-focus
						input(type='text', readonly='readonly', value='oli-focus')
					li.col-md-3.col-sm-4
						i.oli.oli-edit
						input(type='text', readonly='readonly', value='oli-edit')
					li.col-md-3.col-sm-4
						i.oli.oli-adjustments
						input(type='text', readonly='readonly', value='oli-adjustments')
					li.col-md-3.col-sm-4
						i.oli.oli-ribbon
						input(type='text', readonly='readonly', value='oli-ribbon')
					li.col-md-3.col-sm-4
						i.oli.oli-hourglass
						input(type='text', readonly='readonly', value='oli-hourglass')
					li.col-md-3.col-sm-4
						i.oli.oli-lock2
						input(type='text', readonly='readonly', value='oli-lock2')
					li.col-md-3.col-sm-4
						i.oli.oli-megaphone
						input(type='text', readonly='readonly', value='oli-megaphone')
					li.col-md-3.col-sm-4
						i.oli.oli-shield
						input(type='text', readonly='readonly', value='oli-shield')
					li.col-md-3.col-sm-4
						i.oli.oli-trophy2
						input(type='text', readonly='readonly', value='oli-trophy2')
					li.col-md-3.col-sm-4
						i.oli.oli-flag
						input(type='text', readonly='readonly', value='oli-flag')
					li.col-md-3.col-sm-4
						i.oli.oli-map
						input(type='text', readonly='readonly', value='oli-map')
					li.col-md-3.col-sm-4
						i.oli.oli-puzzle2
						input(type='text', readonly='readonly', value='oli-puzzle2')
					li.col-md-3.col-sm-4
						i.oli.oli-basket
						input(type='text', readonly='readonly', value='oli-basket')
					li.col-md-3.col-sm-4
						i.oli.oli-envelope
						input(type='text', readonly='readonly', value='oli-envelope')
					li.col-md-3.col-sm-4
						i.oli.oli-streetsign
						input(type='text', readonly='readonly', value='oli-streetsign')
					li.col-md-3.col-sm-4
						i.oli.oli-telescope2
						input(type='text', readonly='readonly', value='oli-telescope2')
					li.col-md-3.col-sm-4
						i.oli.oli-gears
						input(type='text', readonly='readonly', value='oli-gears')
					li.col-md-3.col-sm-4
						i.oli.oli-key2
						input(type='text', readonly='readonly', value='oli-key2')
					li.col-md-3.col-sm-4
						i.oli.oli-paperclip
						input(type='text', readonly='readonly', value='oli-paperclip')
					li.col-md-3.col-sm-4
						i.oli.oli-attachment
						input(type='text', readonly='readonly', value='oli-attachment')
					li.col-md-3.col-sm-4
						i.oli.oli-pricetags
						input(type='text', readonly='readonly', value='oli-pricetags')
					li.col-md-3.col-sm-4
						i.oli.oli-lightbulb
						input(type='text', readonly='readonly', value='oli-lightbulb')
					li.col-md-3.col-sm-4
						i.oli.oli-layers
						input(type='text', readonly='readonly', value='oli-layers')
					li.col-md-3.col-sm-4
						i.oli.oli-pencil
						input(type='text', readonly='readonly', value='oli-pencil')
					li.col-md-3.col-sm-4
						i.oli.oli-tools
						input(type='text', readonly='readonly', value='oli-tools')
					li.col-md-3.col-sm-4
						i.oli.oli-tools-2
						input(type='text', readonly='readonly', value='oli-tools-2')
					li.col-md-3.col-sm-4
						i.oli.oli-scissors
						input(type='text', readonly='readonly', value='oli-scissors')
					li.col-md-3.col-sm-4
						i.oli.oli-paintbrush
						input(type='text', readonly='readonly', value='oli-paintbrush')
					li.col-md-3.col-sm-4
						i.oli.oli-magnifying-glass
						input(type='text', readonly='readonly', value='oli-magnifying-glass')
					li.col-md-3.col-sm-4
						i.oli.oli-circle-compass
						input(type='text', readonly='readonly', value='oli-circle-compass')
					li.col-md-3.col-sm-4
						i.oli.oli-linegraph
						input(type='text', readonly='readonly', value='oli-linegraph')
					li.col-md-3.col-sm-4
						i.oli.oli-mic
						input(type='text', readonly='readonly', value='oli-mic')
					li.col-md-3.col-sm-4
						i.oli.oli-strategy
						input(type='text', readonly='readonly', value='oli-strategy')
					li.col-md-3.col-sm-4
						i.oli.oli-beaker
						input(type='text', readonly='readonly', value='oli-beaker')
					li.col-md-3.col-sm-4
						i.oli.oli-caution
						input(type='text', readonly='readonly', value='oli-caution')
					li.col-md-3.col-sm-4
						i.oli.oli-recycle
						input(type='text', readonly='readonly', value='oli-recycle')
					li.col-md-3.col-sm-4
						i.oli.oli-anchor
						input(type='text', readonly='readonly', value='oli-anchor')
					li.col-md-3.col-sm-4
						i.oli.oli-profile-male
						input(type='text', readonly='readonly', value='oli-profile-male')
					li.col-md-3.col-sm-4
						i.oli.oli-profile-female
						input(type='text', readonly='readonly', value='oli-profile-female')
					li.col-md-3.col-sm-4
						i.oli.oli-bike
						input(type='text', readonly='readonly', value='oli-bike')
					li.col-md-3.col-sm-4
						i.oli.oli-wine
						input(type='text', readonly='readonly', value='oli-wine')
					li.col-md-3.col-sm-4
						i.oli.oli-hotairballoon
						input(type='text', readonly='readonly', value='oli-hotairballoon')
					li.col-md-3.col-sm-4
						i.oli.oli-globe
						input(type='text', readonly='readonly', value='oli-globe')
					li.col-md-3.col-sm-4
						i.oli.oli-genius
						input(type='text', readonly='readonly', value='oli-genius')
					li.col-md-3.col-sm-4
						i.oli.oli-map-pin
						input(type='text', readonly='readonly', value='oli-map-pin')
					li.col-md-3.col-sm-4
						i.oli.oli-dial
						input(type='text', readonly='readonly', value='oli-dial')
					li.col-md-3.col-sm-4
						i.oli.oli-chat2
						input(type='text', readonly='readonly', value='oli-chat2')
					li.col-md-3.col-sm-4
						i.oli.oli-heart
						input(type='text', readonly='readonly', value='oli-heart')
					li.col-md-3.col-sm-4
						i.oli.oli-cloud
						input(type='text', readonly='readonly', value='oli-cloud')
					li.col-md-3.col-sm-4
						i.oli.oli-upload2
						input(type='text', readonly='readonly', value='oli-upload2')
					li.col-md-3.col-sm-4
						i.oli.oli-download2
						input(type='text', readonly='readonly', value='oli-download2')
					li.col-md-3.col-sm-4
						i.oli.oli-target
						input(type='text', readonly='readonly', value='oli-target')
					li.col-md-3.col-sm-4
						i.oli.oli-hazardous
						input(type='text', readonly='readonly', value='oli-hazardous')
					li.col-md-3.col-sm-4
						i.oli.oli-piechart
						input(type='text', readonly='readonly', value='oli-piechart')
					li.col-md-3.col-sm-4
						i.oli.oli-speedometer
						input(type='text', readonly='readonly', value='oli-speedometer')
					li.col-md-3.col-sm-4
						i.oli.oli-global
						input(type='text', readonly='readonly', value='oli-global')
					li.col-md-3.col-sm-4
						i.oli.oli-compass
						input(type='text', readonly='readonly', value='oli-compass')
					li.col-md-3.col-sm-4
						i.oli.oli-lifesaver
						input(type='text', readonly='readonly', value='oli-lifesaver')
					li.col-md-3.col-sm-4
						i.oli.oli-clock2
						input(type='text', readonly='readonly', value='oli-clock2')
					li.col-md-3.col-sm-4
						i.oli.oli-aperture
						input(type='text', readonly='readonly', value='oli-aperture')
					li.col-md-3.col-sm-4
						i.oli.oli-quote
						input(type='text', readonly='readonly', value='oli-quote')
					li.col-md-3.col-sm-4
						i.oli.oli-scope
						input(type='text', readonly='readonly', value='oli-scope')
					li.col-md-3.col-sm-4
						i.oli.oli-alarmclock
						input(type='text', readonly='readonly', value='oli-alarmclock')
					li.col-md-3.col-sm-4
						i.oli.oli-refresh2
						input(type='text', readonly='readonly', value='oli-refresh2')
					li.col-md-3.col-sm-4
						i.oli.oli-happy
						input(type='text', readonly='readonly', value='oli-happy')
					li.col-md-3.col-sm-4
						i.oli.oli-sad
						input(type='text', readonly='readonly', value='oli-sad')
					li.col-md-3.col-sm-4
						i.oli.oli-facebook
						input(type='text', readonly='readonly', value='oli-facebook')
					li.col-md-3.col-sm-4
						i.oli.oli-twitter
						input(type='text', readonly='readonly', value='oli-twitter')
					li.col-md-3.col-sm-4
						i.oli.oli-googleplus
						input(type='text', readonly='readonly', value='oli-googleplus')
					li.col-md-3.col-sm-4
						i.oli.oli-rss
						input(type='text', readonly='readonly', value='oli-rss')
					li.col-md-3.col-sm-4
						i.oli.oli-tumblr
						input(type='text', readonly='readonly', value='oli-tumblr')
					li.col-md-3.col-sm-4
						i.oli.oli-linkedin
						input(type='text', readonly='readonly', value='oli-linkedin')
					li.col-md-3.col-sm-4
						i.oli.oli-dribbble
						input(type='text', readonly='readonly', value='oli-dribbble')
		
