extends ../../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('bg-pattern')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' ') 
	- var pageTitle = "Call -to- Action"
	- var PageTitleHead = "Chaos"
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var pageTitleClass = 'h-400 center-it set-bg ov-light-alpha-50'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/06.jpg"
	
	- var currentMenu = "Shortcodes"
	- var lorem = "Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque. Integer eget mi eget risus eleifend consectetur vehicula sit amet neque. Pellentesque imperdiet est leo, at placerat sem semper eu. Quisque cursus condimentum dolor, vitae dapibus nunc convallis eu. Nulla condimentum, odio semper ultricies congue, purus ligula tempor turpis, a venenatis leo purus sed lectus. Cras tincidunt bibendum sem, vel sollicitudin sapien molestie sit amet. Nulla eleifend odio at felis dignissim consectetur"
	
block main-area
	section.section
		.container
			.row
				// #####Begin call to action
				.call-out.tb-vcenter-wrapper
					.col-sm-9.vcenter
						h2.title Fellowship opportunities available
						h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.col-sm-3.vcenter.text-center
						a.btn.btn-medium.btn-anim-i.btn-skin-blue.btn-icon-right.btn-circle(href='#') 
							i.oli.oli-forward
							span Apply now
							
				// #####End call to action
	section.section.parallax-layer.ov-light-alpha-90(data-img-src=dirPrefix+"assets/img/backgrounds/09.jpg")
		.container
			.row
				// #####Begin call to action
				.call-out.tb-vcenter-wrapper
					.col-sm-9.vcenter
						h2.title Fellowship opportunities available
						h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.col-sm-3.vcenter.text-center
						a.btn.btn-medium.btn-anim-i.btn-skin-dark.btn-icon-right.btn-circle(href='#') 
							i.oli.oli-forward
							span Apply now
							
				// #####End call to action
	section.section.bg-gray
		.container
			.row
				// #####Begin call to action
				.call-out.tb-vcenter-wrapper
					.col-sm-8.col-sm-push-4.vcenter
						h2.title Fellowship opportunities available
						h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
						
					.col-sm-4.col-sm-pull-8.vcenter.text-right
						a.btn.btn-medium.btn-circle(href='#') 
							i.oli.oli-unlock-filled
							span Apply now
				// #####End call to action
	section.section.dark-wrapper.parallax-layer.ov-grad1-alpha-70(data-img-src=dirPrefix+"assets/img/backgrounds/09.jpg")
		.container
			.row
				// #####Begin call to action
				.call-out.tb-vcenter-wrapper
					.col-sm-8.col-sm-push-4.vcenter
						h2.title Fellowship opportunities available
						h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.col-sm-4.col-sm-pull-8.vcenter.text-right
						a.btn.btn-medium.btn-circle(href='#') 
							i.oli.oli-unlock-filled
							| Apply now
							
					
				// #####End call to action
	section.section
		.container
			.row
				// #####Begin call to action
				.call-out.tb-vcenter-wrapper
					.col-sm-9.vcenter
						.callout-icon
							.oli.oli-literature
						.callout-texts
							h2.title Fellowship opportunities available
							h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.col-sm-3.vcenter.text-center
						a.btn.btn-medium.btn-circle.btn-skin-yellow(href='#')
							i.oli.oli-timer
							span Apply now	
				// #####End call to action
	
	section.section.dark-wrapper.parallax-layer.ov-blue-alpha-50(data-img-src=dirPrefix+"assets/img/bg-dark.jpg",data-parallax-mode="mode-2")
		.container
			// #####Begin call to action
			.call-out.text-center
					h2.title Fellowship opportunities available
					h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.sp-blank-20
					a.btn.btn-medium.btn-circle.btn-thick-border(href='#')
						i.oli.oli-timer
						span Apply now					
					
			// #####End call to action
	