extends ../../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('bg-pattern')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' ') 
	- var pageTitle = "NUMBERS"
	- var PageTitleHead = "Chaos"
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var pageTitleClass = 'h-500 particles center-it parallax-layer ov-blue-alpha-50 dark'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/10.jpg"
	- var pageTitleParallaxMode = "title"
	
	- var currentMenu = "Shortcodes"
	- var lorem = "Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque. Integer eget mi eget risus eleifend consectetur vehicula sit amet neque. Pellentesque imperdiet est leo, at placerat sem semper eu. Quisque cursus condimentum dolor, vitae dapibus nunc convallis eu. Nulla condimentum, odio semper ultricies congue, purus ligula tempor turpis, a venenatis leo purus sed lectus. Cras tincidunt bibendum sem, vel sollicitudin sapien molestie sit amet. Nulla eleifend odio at felis dignissim consectetur"
	
block main-area
	section.section
		.container
			.row
				.col-md-12
					// #####Begin heading
					.heading-with-sub.text-center
						h2.title Facts About Chaos Laboratory
						h4.subtitle We are proud of our Jafar for his great contribution to the world!	
					// #####End heading
			.sp-blank-75
			.row
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-icon-wrap
							.fact-icon.i.oli.oli-bookmark
						.fact-number-wrap
							.fact-number 1.2k
						h2.fact-title publications
						h4.fact-sub-title Lorem ipsum odor sit
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-icon-wrap
							.fact-icon.i.oli.oli-ok
						.fact-number-wrap
							.fact-number 215
						h2.fact-title projects
						h4.fact-sub-title Lorem ipsum odor sit
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-icon-wrap
							.fact-icon.i.oli.oli-like
						.fact-number-wrap
							.fact-number 715
						h2.fact-title staff
						h4.fact-sub-title Lorem ipsum odor sit
						
					// #####End number item
	section.section.parallax-layer.ov-light-alpha-60(data-img-src=dirPrefix+"assets/img/bg-light.jpg")
		.container
			.row
				.col-md-12
					// #####Begin heading
					.heading-with-sub.text-center
						h2.title Facts About Chaos Laboratory
						h4.subtitle We are proud of our Jafar for his great contribution to the world!	
					// #####End heading
			.sp-blank-75
			.row
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-number-wrap
							.fact-number 1.2k
						h2.fact-title publications
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-number-wrap
							.fact-number 215
						h2.fact-title projects
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-number-wrap
							.fact-number 715
						h2.fact-title staff members
					// #####End number item
	
	section.section.bg-gray
		.container
			.row
				.col-md-12
					// #####Begin heading
					.heading-with-sub.text-center
						h2.title Facts About Chaos Laboratory
						h4.subtitle We are proud of our Jafar for his great contribution to the world!	
					// #####End heading
			.sp-blank-75
			.row
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item.left-alined
						.fact-icon-wrap.left
							.fact-icon.i.oli.oli-literature
						.fact-number-wrap
							.fact-number 1.2k
						h2.fact-title publications
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item.left-alined
						.fact-icon-wrap
							.fact-icon.i.oli.oli-biomass
						.fact-number-wrap
							.fact-number 215
						h2.fact-title projects
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item.left-alined
						.fact-icon-wrap
							.fact-icon.i.oli.oli-sprout
						.fact-number-wrap
							.fact-number 715
						h2.fact-title staff members
					// #####End number item
	
	section.section.dark-wrapper.parallax-layer.ov-dark-alpha-60(data-img-src=dirPrefix+"assets/img/bg-dark.jpg")
		.container
			.row
				.col-md-12
					// #####Begin heading
					.heading-with-sub.text-center
						h2.title Facts About Chaos Laboratory
						h4.subtitle We are proud of our Jafar for his great contribution to the world!	
					// #####End heading
			.sp-blank-75
			.row
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-number-wrap
							.fact-number 1.2k
						h2.fact-title publications
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-number-wrap
							.fact-number 215
						h2.fact-title projects
					// #####End number item
				.col-sm-6.col-md-4
					// #####Begin number item
					.fact-item
						.fact-number-wrap
							.fact-number 715
						h2.fact-title staff members
					// #####End number item
	