extends ../lo-normal

append config
	- var bodyclass =  bodyClasses.push('fullwidth')

block main-contents
	// #####Begin main area
	section#main-area
		block main-area
	// #####End main area
			
	.clearfix