footer#footer.set-bg(class=footerClasses, data-img-src="assets/img/bg/002.png")
	.container: .sp-shadow-line-0.footer-shadow
	#footer-main
		.container
			.row
				.col-md-5.col-sm-12.m-bottom-sm-40
					a.img(href="#")
						img(src=dirPrefix+"assets/img/logo/logo-light.png", alt=templateName)
					.sp-blank-30
					p CHAOS is an HTML/CSS/JS template designed by owwwlab team wishing to help academic and scientific websites build modern pages with elegant design.
					
					ul.social-icons.shape-circle
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-google-plus
						li
							a(href="#")
								i.fa.fa-linkedin
						li
							a(href="#")
								i.fa.fa-skype
						li
							a(href="#")
								i.fa.fa-dribbble
				.col-md-3.col-md-offset-1.col-sm-6
					.widget
						h4 Information for
						.links
							ul
								li
									a(href="#") Alumni
								li
									a(href="#") Entrepreneurs
								li
									a(href="#") Current students
								li
									a(href="#") Faculty and staff
								li
									a(href="#") Future students
								li
									a(href="#") Fellowship students

				.col-md-3.col-sm-6

					.widget
						h4 Usefull links
						.links
							ul
								li
									a(href="#") Admission & Aid
								li
									a(href="#") Accessibility
								li
									a(href="#") Academics
								li
									a(href="#") Research
								li
									a(href="#") Campus Life
								li
									a(href="#") Library

	#footer-bar
		.container
			.row.tb-vcenter-wrapper.bottom-bar
				.col-sm-6.vcenter
					.copyright OWWWLAB 2015.
					.promo Built with love & care for Academic People
				.col-sm-6.vcenter
					ul.footer-menu.text-right-md
						li
							a(href="#") Home
						li
							a(href="#") Admission
						li
							a(href="#") Staff
						li
							a(href="#") Contact