footer#footer
	div#footer-main.text-center
		.container
			.row
				.col-md-6.col-md-offset-3
					.heading-with-sub.m-bottom-50
						h3.title.sans-font.m-bottom-30 Dr. Chaos McTabi
						h4.subtitle If you're looking for information about the lab you can contact us using the contact details listed below.
					.sp-line-0
					ul.m-top-30.social-icons.shape-circle.skin-white.hover-dark
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-google-plus
						li
							a(href="#")
								i.fa.fa-linkedin
						li
							a(href="#")
								i.fa.fa-skype
						li
							a(href="#")
								i.fa.fa-dribbble
