span +123 123 1234 | see@owwwlab.com
// #####Begin social icons
ul.social-icons
	li
		a(href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook" data-animation="fadeInUp")
			i.fa.fa-facebook
	li
		a(href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter" data-animation="fadeInUp")
			i.fa.fa-twitter
	li
		a(href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Google+" data-animation="fadeInUp")
			i.fa.fa-google-plus
	li
		a(href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Youtube" data-animation="fadeInUp")
			i.fa.fa-youtube
	li
		a(href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="SoundCloud" data-animation="fadeInUp") 
			i.fa.fa-soundcloud
// #####End social icons
