// #####Begin trigger for search
.search.ol-search-trigger.simple
	a(href="#")
		i.oli.oli-search
	.search-area
		.search-bar-wrapper
			form(role='form')
				input#searchq.form-control(type='search', name='searchq',  placeholder="Search...")
				
// #####End trigger for search