extends ../../../_layouts/lo-normal/fullwidth

append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' trans header-thick') 
	- var pageTitle = "A Particle Has Been Lost!"
	- var PageTitleHead = ""
	- var PageTitleDesc = "We are looking for it in the river, want to join us?"
	- var bcType = "intitle"
	- var pageTitleClass = 'light hvh-100 parallax-layer center-it ol-particles ov-grad9-alpha-60'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/image-bg.jpg"
