extends ../../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push("") 
	
	- var currentMenu = "Features"
	- var bcType = "false"
	- var ptType = "false"
	
block main-area
	section.section
		.container
			.text-center.p-top-50.p-bottom-50
				img.m-bottom-50(src=dirPrefix+"assets/img/404-black.png")
				.shadow-line
				h2.text-capitalize.p-top-40 Sorry!
				h3 Our recent research showes that the page no longer exists!