section.section
	.container
			.row
				// #####Begin carousel
				.owl-carousel.items.owwwlab-theme(data-cols="3" data-nav="true" data-loop="true")
					// #####Begin iconbox v1
					.item: .icon-box.ib-v2
							a(href="#")
								i.oli.oli-lightbulb
								h3.title publications
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v1
					// #####Begin iconbox v1
					.item: .icon-box.ib-v2
							a(href="#")
								i.oli.oli-tools
								h3.title people
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v1
					// #####Begin iconbox v1
					.item: .icon-box.ib-v2
							a(href="#")
								i.oli.oli-strategy
								h3.title Asb!
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v1
					// #####Begin iconbox v1
					.item: .icon-box.ib-v2
							a(href="#")
								i.oli.oli-beaker
								h3.title publications
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v1
					// #####Begin iconbox v1
					.item: .icon-box.ib-v2
							a(href="#")
								i.oli.oli-globe
								h3.title people
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v1
					// #####Begin iconbox v1
					.item: .icon-box.ib-v2
							a(href="#")
								i.oli.oli-heart
								h3.title Jafar!
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
					// #####End iconbox v1
				// #####End carousel
			.sp-blank-50
			.row
				.col-md-12
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
					blockquote.blockquote
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer
							| Someone famous in 
							cite(title='Source Title') Source Title
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
