// #####Begin widget
.widgets-wrapper
	.widget
		h4 Popular Posts
		// #####Begin list of posts
		.posts-list
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-1.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-2.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-3.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-4.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, Debitis nihil placeat
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
		// #####End list of posts
	.widget
		h4 Recent Posts
		// #####Begin list of posts
		.posts-list
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-1.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-timer
							| 25 Sep 2015
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-2.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-timer
							| 12 Oct 2015
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-3.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-timer
							| 28 Oct 2o15
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-4.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, Debitis nihil placeat
					ul.entry-meta
						li
							i.icon.oi-timer
							| 4 sep 2015
		// #####End list of posts
		
	.widget
		h4 Recent Comments
		// #####Begin list of posts
		.posts-list.comments
			.post
				a.entry-image(href='#')
					img.img-circle(src= dirPrefix +'assets/img/news/no-avatar.png', alt='image')
				.entry-content
					a(href="#")
						strong John Doe: 
						| lorem ipsum odor sit amet ...
			
			.post
				a.entry-image(href='#')
					img.img-circle(src= dirPrefix +'assets/img/news/no-avatar.png', alt='image')
				.entry-content
					a(href="#")
						strong John Doe: 
						| lorem ipsum odor sit amet ...
			
			.post
				a.entry-image(href='#')
					img.img-circle(src= dirPrefix +'assets/img/news/no-avatar.png', alt='image')
				.entry-content
					a(href="#")
						strong John Doe: 
						| lorem ipsum odor sit amet ...
			
			.post
				a.entry-image(href='#')
					img.img-circle(src= dirPrefix +'assets/img/news/no-avatar.png', alt='image')
				.entry-content
					a(href="#")
						strong John Doe: 
						| lorem ipsum odor sit amet ...	
		// #####End list of posts
	.widget
		// #####Begin tab element
		.ol-tab
			// #####Begin tab navigation
			ul.tab-navigation
				li.active
					a(href="#") Popular
				li
					a(href="#") Recent
			// #####End tab navigation
			.tab-content
				// #####Begin tab panel item
				.tab-pane.active
					// #####Begin list of posts
					.posts-list
						.post
							a.entry-image(href='#')
								img(src= dirPrefix +'assets/img/news/thumb-50-1.jpg', alt='')
							.entry-content
								h4.entry-title
									a(href='#') Debitis nihil placeat, illum
								ul.entry-meta
									li
										i.icon.oi-speech-bubble
										| 35 Comments
						
						.post
							a.entry-image(href='#')
								img(src= dirPrefix +'assets/img/news/thumb-50-2.jpg', alt='')
							.entry-content
								h4.entry-title
									a(href='#') Debitis nihil placeat, illum
								ul.entry-meta
									li
										i.icon.oi-speech-bubble
										| 35 Comments
						
						.post
							a.entry-image(href='#')
								img(src= dirPrefix +'assets/img/news/thumb-50-3.jpg', alt='')
							.entry-content
								h4.entry-title
									a(href='#') Debitis nihil placeat, illum
								ul.entry-meta
									li
										i.icon.oi-speech-bubble
										| 35 Comments
					// #####End list of posts
				// #####End tab panel item
				// #####Begin tab panel item
				.tab-pane
					// #####Begin list of posts
					.posts-list
						.post
							a.entry-image(href='#')
								img(src= dirPrefix +'assets/img/news/thumb-50-1.jpg', alt='')
							.entry-content
								h4.entry-title
									a(href='#') Debitis nihil placeat, illum
								ul.entry-meta
									li
										i.icon.oi-timer
										| 25 Sep 2015
						
						.post
							a.entry-image(href='#')
								img(src= dirPrefix +'assets/img/news/thumb-50-2.jpg', alt='')
							.entry-content
								h4.entry-title
									a(href='#') Debitis nihil placeat, illum
								ul.entry-meta
									li
										i.icon.oi-timer
										| 12 Oct 2015
						
						.post
							a.entry-image(href='#')
								img(src= dirPrefix +'assets/img/news/thumb-50-3.jpg', alt='')
							.entry-content
								h4.entry-title
									a(href='#') Debitis nihil placeat, illum
								ul.entry-meta
									li
										i.icon.oi-timer
										| 28 Oct 2o15
						
					// #####End list of posts
				// #####End tab panel item
		// #####End tab element
	.widget
		h4 Tag Cloud
		.tagcloud
			a(href='#') general
			a(href='#') videos
			a(href='#') music
			a(href='#') media
			a(href='#') photography
			a(href='#') parallax
			a(href='#') ecommerce
			a(href='#') terms
			a(href='#') coupons
			a(href='#') modern
	.widget
		h4 Categories
		// #####Begin list of categoreis
		.category-list
			a.cat(href="#")
				| Articles
				span 12
			a.cat(href="#")
				| Research Highlights
				span 20
			a.cat(href="#")
				| Lab Updates
				span 12
			a.cat(href="#")
				| New papers
				span 20
			a.cat(href="#")
				| Video
				span 55
		// #####End list of categoreis
	.widget
		h4 Categories
		// #####Begin list of categoreis
		.category-list
			a.cat(href="#")
				| Articles
				span.pull-right 12
			a.cat(href="#")
				| Research Highlights
				span.pull-right 20
			a.cat(href="#")
				| Lab Updates
				span.pull-right 12
			a.cat(href="#")
				| New papers
				span.pull-right 20
			a.cat(href="#")
				| Video
				span.pull-right 55
		// #####End list of categoreis
	.widget
		.callout.pull-up-50.set-bg.ov-light-alpha-80
			img.set-me(src=dirPrefix+"assets/img/backgrounds/02.jpg")
			a(href="#") 
				h3 We have got something important for you!
	.widget
		.callout.pull-up-50.set-bg.dark.ov-dark-alpha-80
			img.set-me(src=dirPrefix+"assets/img/backgrounds/02.jpg")
			a(href="#") 
				h3 We have got something important for you!
	.widget
		.callout.pull-up-50.skin-blue
			a(href="#") 
				h3 We have got something important for you!
	.widget
		.callout.pull-up-50.skin-green
			a(href="#") 
				h3 We have got something important for you!
	.widget
		h4 Simple HTML
		.html-widget
			p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque.
// #####End widget