.widgets-wrapper
	.widget
		h4 Popular Posts
		.posts-list
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-1.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-2.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-3.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, illum
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments
			
			.post
				a.entry-image(href='#')
					img(src= dirPrefix +'assets/img/news/thumb-50-4.jpg', alt='')
				.entry-content
					h4.entry-title
						a(href='#') Debitis nihil placeat, Debitis nihil placeat
					ul.entry-meta
						li
							i.icon.oi-speech-bubble
							| 35 Comments