extends ../../../_layouts/lo-normal/left_sidebar
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push('') 
	- var pageTitle = "Research Assistant Position in Transport-Regulated Plant Immunity"
	- var PageTitleHead = ""
	- var PageTitleDesc = ""
	- var bcType = "block"
	- var pageTitleClass = 'light lined'
	
	- var currentMenu = "Academia"
block main-area
	section.section-narrow.section-nopadding
		p The Department of Radiology is seeking to appoint an experienced and enthusiastic Administration and IT Assistant. The role holder will contribute to teaching, research and operations through the provision of administrative and technical support and advice to staff, students and visitors. The role holder will assist the Senior IT Technician in providing essential IT support to the department.
		p S/he will also support the Operations Manager with administrative duties including procurement, filing, photocopying, reports and other general tasks.
		p S/he will ensure publications database, website information, lists of assets and IT equipment are efficiently kept up-to-date.
		p The role holder will be expected to be proactive and must be capable of liaison with staff and students at all levels.
		p The ability to efficiently manage own workload is essential. The role holder will be required to establish and maintain good relationships with all staff members, seeking to fully understand their needs and provide solutions and documenation as required.
		p The successful candidate will have excellent IT skills and the ability to prioritise and work to deadlines. He or she will be a well-organised, pro-active individual who will work well as part of a team. Excellent verbal and written communication skills required, plus a keen attention to detail. S/he will also be able to learn new applications quickly and easily.
		p Once an offer of employment has been accepted, the successful candidate will be required to undergo a basic disclosure (criminal records check) check.
		p To apply online for this vacancy, please click on the 'Apply' button below. This will route you to the University's Web Recruitment System, where you will need to register an account (if you have not already) and log in before completing the online application form. 
		p Please quote reference RQ06881 on your application and in any correspondence about this vacancy.
		p The University values diversity and is committed to equality of opportunity.
		p The University has a responsibility to ensure that all employees are eligible to live and work in the UK.
block sidebar-1
	h4.with-underline Details
	// #####Begin description metas
	dl.description-item
		dt DEPARTMENT/LOCATION
		dd Department of Radiology
		.sp-blank-30
		dt SALARY
		dd &#163;21,391-&#163;24,775
		.sp-blank-30
		dt REFERENCE
		dd RQ06881
		.sp-blank-30
		dt CATEGORY
		dd Assistant staff
		.sp-blank-30
		dt PUBLISHED
		dd 14 August 2015
		.sp-blank-30
		dt CLOSING DATE
		dd 13 September 2015
	// #####End description metas
	.sp-blank-50
	h4.with-underline Apply
	.btn.btn-medium.btn-block.btn-skin-dark APPLY ONLINE
	.sp-blank-50
	h4.with-underline SHARE
	// #####Begin social icons
	ul.social-icons.shape-circle
		li
			a(href="#")
				i.fa.fa-facebook
		li
			a(href="#")
				i.fa.fa-twitter
		li
			a(href="#")
				i.fa.fa-google-plus
		li
			a(href="#")
				i.fa.fa-linkedin
	// #####End social icons