extends ../../../../_layouts/lo-normal/fullwidth

append config

	- var dirPrefix = '../../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push('trans dark') 
	
	- var pageTitle = "Header v1 - transparent dark"
	- var PageTitleHead = ""
	- var PageTitleDesc = ""
	- var pageTitleClass = 'set-bg h-400 dark'
	- var pageTitleImage = dirPrefix+"assets/img/page-title-bg-dark-1.jpg"
	
	- var currentMenu = "Features"


	
block main-area
	include ../../../../_partials/blocks/pages/main-area-fullwidth