extends ../../../_layouts/lo-normal/right_sidebar

append config
	- var pageSpecificBodyClass = bodyClasses.push('sticky-header bg-pattern')
	- var pagewrapperClasses = wrapperClasses.push('boxed-layout')
	- var PSheaderClasses = headerClasses.push("") 
	- var pageTitle = "Boxed Layout Right Sidebar"
	- var dirPrefix = '../../'
	- var currentMenu = "pages"

block main-area
	include ../../../_partials/blocks/pages/main-area
block sidebar-1
	include ../../../_partials/blocks/pages/sidebar-1

