// #####Begin footer
footer#footer.dark-wrapper(class=footerClasses)
	div#footer-main
		.container
			.center-logo.text-center
				a.img(href="#")
					img(src=dirPrefix+"assets/img/logo/logo-sq-dark.png", alt=templateName)
			.sp-blank-10
			.row.tb-vcenter-wrapper
				.col-sm-6.vcenter
					.copyright OWWWLAB 2016.
					.promo Built with love & care for Academic People
				.col-sm-6.vcenter
					ul.footer-menu.text-right-sm
						li
							a(href="#") Home
						li
							a(href="#") Research
						li
							a(href="#") Admission
						li
							a(href="#") Staff
						li
							a(href="#") Contact
// #####End footer