.col-sm-4
	.featured-person
		a(href="#")
			img(src=dirPrefix+"assets/img/people/05.jpg")
		a(href="#")
			h3 Dr. John Doe
		p Phasellus lectus sem
.col-sm-4
	.featured-person
		a(href="#")
			img(src=dirPrefix+"assets/img/people/06.jpg")
		a(href="#")
			h3 Dr. John Doe
		p Phasellus lectus sem
.col-sm-4
	.featured-person
		a(href="#")
			img(src=dirPrefix+"assets/img/people/07.jpg")
		a(href="#")
			h3 Dr. John Doe
		p Phasellus lectus sem