if footerLayout == 1
	include footers/footer-1
else if footerLayout == 2
	include footers/footer-2
else if footerLayout == 3
	include footers/footer-3
else if footerLayout == 4
	include footers/footer-4
