#rev_slider_24_1_wrapper.rev_slider_wrapper.fullscreen-container
	#rev_slider_24_1.rev_slider.fullscreenbanner.ol-theme
		ul
			
			li(data-transition='fade', data-masterspeed='500')
				// MAIN IMAGE
				img.rev-slidebg(src='assets/img/slider/01.jpg', alt='', data-lazyload='assets/img/slider/01.jpg', data-bgposition='center center', data-kenburns='on', data-duration='10000', data-ease='Power1.easeOut', data-scalestart='120', data-scaleend='100')
				h2.tp-caption.ol-title.tp-resizeme(data-x="center", data-y="middle", data-voffset="-120" , data-transform_in='y:[100%];s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;', data-mask_in='x:0px;y:0px;', data-start='500', style='z-index: 5; white-space: nowrap;')
					| Chaos Lab
				h3.tp-caption.ol-subtitle.tp-resizeme(data-x="center", data-y="middle",data-voffset="-60",data-transform_in='y:[-100%];s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;', data-mask_in='x:0px;y:0px;', data-start='700', data-responsive_offset='on', style='z-index: 6; white-space: nowrap; line-height: 40px;')
					| National Optical Astronomy
				a.tp-caption.btn.btn-medium.btn-wide.btn-trans.btn-skin-white.btn-circle(href="#",data-x="center", data-y="center", data-voffset=["180","180","50","50"],  data-transform_in='y:10px;opacity:0;s:1000;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;', data-start='1300', data-basealign='slide', data-responsive_offset='off', data-responsive='off', style='z-index: 8; white-space: nowrap;')
					| Explore the Lab

				.tp-caption.rev-scroll-btn(data-x="center", data-y="bottom", data-voffset="77", data-width='35', data-height='55',data-style_hover='cursor:pointer;', data-transform_in='y:50px;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='y:50px;opacity:0;s:1000;', data-start='1500',data-basealign='slide', data-responsive_offset='off', data-responsive='off')
					span
				
			li(data-transition='fade', data-masterspeed='1000')
				// MAIN IMAGE
				img.rev-slidebg(src='assets/img/slider/02.jpg', alt='', data-lazyload='assets/img/slider/02.jpg', data-bgposition='center center', data-kenburns='on', data-duration='20000', data-ease='Power1.easeOut', data-scalestart='110', data-scaleend='100')
				h2.tp-caption.ol-title.tp-resizeme(data-x="center", data-y="middle", data-voffset="-120" , data-transform_in='y:[100%];s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;', data-mask_in='x:0px;y:0px;', data-start='500', style='z-index: 5; white-space: nowrap;')
					| Chaos Lab
				h3.tp-caption.ol-subtitle.tp-resizeme(data-x="center", data-y="middle",data-voffset="-60",data-transform_in='y:[-100%];s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;', data-mask_in='x:0px;y:0px;', data-start='700', data-responsive_offset='on', style='z-index: 6; white-space: nowrap; line-height: 40px;')
					| National Optical Astronomy
				a.tp-caption.btn.btn-medium.btn-wide.btn-trans.btn-skin-white.btn-circle(href="#",data-x="center", data-y="center", data-voffset=["180","180","50","50"],  data-transform_in='y:10px;opacity:0;s:1000;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;', data-start='1300', data-basealign='slide', data-responsive_offset='off', data-responsive='off', style='z-index: 8; white-space: nowrap;')
					| Explore the Lab

				.tp-caption.rev-scroll-btn(data-x="center", data-y="bottom", data-voffset="77", data-width='35', data-height='55',data-style_hover='cursor:pointer;', data-transform_in='y:50px;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='y:50px;opacity:0;s:1000;', data-start='1500',data-basealign='slide', data-responsive_offset='off', data-responsive='off')
					span
			

			.tp-bannertimer.tp-bottom(style='visibility: hidden !important;')

		// END REVOLUTION SLIDER