script(type='text/javascript').
    var tpj=jQuery;
    
    var revapi6;
    tpj(document).ready(function() {
        if(tpj("#rev_slider_6_1").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_6_1");
        }else{
            revapi6 = tpj("#rev_slider_6_1").show().revolution({
                sliderType:"hero",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                },
                responsiveLevels:[1240,1024,778,480],
                visibilityLevels:[1240,1024,778,480],
                gridwidth:[1170,1170,778,500],
                gridheight:[800,700,500,500],
                lazyType:"none",
                parallax: {
                    type:"scroll",
                    origo:"slidercenter",
                    speed:400,
                    levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,95,55],
                    type:"scroll",
                    disable_onmobile:"on"
                },
                shadow:0,
                spinner:"spinner0",
                autoHeight:"off",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    disableFocusListener:false,
                }
            });
        }
    }); /*ready*/
