extends ../../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' trans dark sticky-light') 
	- var pageTitle = "Publication List"
	- var PageTitleHead = "with icons"
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var pageTitleClass = 'h-700 center-it parallax-layer ov-blue-alpha-50 dark'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/10.jpg"
	- var pageTitleParallaxMode = "title"
	
	- var currentMenu = "Academia"
block main-area
	section.section.slim-container.p-top-0.bg-pattern
		.container
			// #####Begin summary box
			.summary-box.parallax-layer.pull-up-200.pull-up-xs-100(data-img-src=dirPrefix+"assets/img/backgrounds/summ-bg.jpg")
				i.oli.oli-literature
				// #####Begin carousel
				ul.summaries.owl-carousel.items.owwwlab-theme(data-cols-lg="5" data-cols-md="4" data-cols-sm="3" data-cols-xs="2" data-cols-xxs="1"  data-margin="30" data-nav="false" data-loop="true")
					li.item: a(href="#")
						.number 1235
						.title Journal Articles
					li.item: a(href="#")
						.number 936
						.title Book Chapters
					li.item: a(href="#")
						.number 20k
						.title Reports
					li.item: a(href="#")
						.number 987
						.title Technical Papers
					li.item: a(href="#")
						.number 453
						.title Another Category
					li.item: a(href="#")
						.number 23
						.title Awesome Category
							
				// #####End carousel
			// #####End summary box
			.sp-blank-50
			
			.search-box.inline-filters
				.row.form-inline
					
					.col-sm-10.col-xs-8.form-group.with-filter
						input.form-control(type='text', placeholder='Search')
						a.toggle-filter(href="#" data-toggle="tooltip" data-placement="top" title="Filter")
							i.icon.oi-filter
					.col-sm-2.col-xs-4.form-group
						input.btn.btn-small.btn-skin-red.btn-block(type='submit', value='Submit')
				.row.filters
					a.clear-selectize(href="#") Clear Filters
					.col-sm-6
						.form-group
							label Publication Type:
							select.selectize(data-placeholder='Select Types...', multiple='multiple')
								option(value='')
								option(value='Journal Article') Journal Article
								option(value='Conference Paper') Conference Paper
								option(value='Report') Report
								option(value='Book') Book
								option(value='Book Chapter') Book Chapter
								option(value='Proceeding') Proceeding
						.form-group
							label Year:
							select.selectize(data-placeholder='Select Year', multiple='multiple')
								option(value='') 
								option(value='2000') 2000
								option(value='2001') 2001
								option(value='2004') 2004
								option(value='2005') 2005
								option(value='2006') 2006
								option(value='2010') 2010
								option(value='2011') 2011
								option(value='2012') 2012
								option(value='2013') 2013
								option(value='2014') 2014
								option(value='2015') 2015
					.col-sm-6
						.form-group
							label Category:
							select.selectize(data-placeholder='Select Types...', multiple='multiple')
								option(value='')
								option(value='Physics') Physics
								option(value='Algebra') Algebra
								option(value='Jafarology') Jafarology
			.sp-blank-50
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin in a good manner
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title Xanthochroic hermeneutic unjacketed shipman sawder rupturable dapicho
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title spondylodidymia pawn Microgastrinae plasmolyzable devow ventricular woolly inattention cheatingly cerviconasal
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title neckline cardiamorphia praeneural unignominious Mediterraneanism saccharon Michigamea nonliquidating eelbobber
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title galactophlysis Brontotherium bandwork tenderheart Galeidae
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title Urceolina crithmene adamantine cardiohepatic primordialism Christologist palanquin angiochondroma Pulvinaria stereotropism delocalization subcast epidemicity outbluff seduce entangledness
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title Americanize heretically restore presspack hintzeite sphaerococcaceous
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
			.pub-item.with-icon
				.elem-wrapper
					i.oli.oli-bookmark
				.content-wrapper
					h3.title albee tanning unable Al pluperfectly premix illusionable Bipalium monkbird
					.description
						.citation 
							| Achievements in the Life Sciences 2014
							| <br>McTabi et. al.
						
						a.link-with-icon(href="#") 
							i.fa.fa-external-link
							| Publisher's website
					
			.sp-blank-100
			include ../../../_partials/blocks/paginations/lined